body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://ninjasfiles.s3.amazonaws.com/asset_0000000000003226_1714596295_pics1.png");
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-align: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: rgb(18, 7, 92);
    color: white;
    text-align: center;
    padding: 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.fixed-text {
    position: fixed;
    top: 120px;
    left: 0;
    width: 100%;
    z-index: -3;
    background-color: rgba(0,0,0,0);
    padding: 20px 0;
    color: white;
}
.content {
    padding-top: 200px;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
div img {
    width: 260px;
    height: 220px;
    margin: 20px;
    border: 10px solid white;
    border-radius: 20px;
    object-fit: cover;
}
.star-players {
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    width: 400px; 
    height: 400px; 
    overflow: hidden; 
    color: black; 
    position: relative; 
}
.star-players h2 {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    margin: 0;
    padding: 10px;
}
.scrollable-images {
    height: 300px; 
    overflow-y: scroll; 
    padding: 10px; 
}
.scrollable-images img {
    width: 290px;
    height: 200px;
    margin: 2px;
    border: 2px solid white;
    border-radius: 20px;
    object-fit: cover;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
    margin-left: 110px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    overflow: hidden;   
    table-layout: fixed;
}
th, td {
    border: 1px solid black;
    padding: 12px;
    text-align: left;
    width:50%;
}
th {
    background-color: #142d4c;
    color: #fff;
}
tr {
    background-color: white;
    color: black;
}
tr:hover {
    background-color: #f1f1f1; 
}
footer {
    background-color: rgb(18, 7, 92);
    color: white;
    text-align: center;
    position: relative;
    line-height: 2 ;
    width: 100%;
    z-index: 1000;
}